.message_ownWrapper {
    background:#dcf8c6;
    /* max-width:60%; */
    /* margin-left:auto; */
    padding:5px;
    width:fit-content;
    display:flex;
    border-radius:10px;
    word-break:break-word; 
    margin-bottom:10px
}


.main_message_ownWrapper {
    /* background:#dcf8c6; */
    max-width:60%;
    margin-left:auto;
    padding:5px;
    width:fit-content;
    display:flex;
    border-radius:10px;
    word-break:break-word; 
    margin-bottom:10px
}

.message_text {
    font-size: 14px;
    padding:0 25px 0 5px;
    margin: 0px;
    min-height: 26px
}


.message_timestamp {
    margin: 0px;
    font-size:9px !important;
    color:#919191;
    margin-top:6px;
    word-break:keep-all;
    margin-top:auto !important;
}


.message_wrapper {
    background:#ffffff;
    max-width:60%;
    padding:5px;
    width:fit-content;
    display:flex;
    border-radius:10px;
    word-break:break-word;
    padding: 10px;
    margin-bottom:10px
}
